body {
    background-image: url("https://www.7l.com/blog/wp-content/uploads/2012/03/CutClouds.jpg");
}

.flashy {
  color: blue;
  font-style: italic;
}

h1 {
  text-align: center;
  font-size: 110px;
  font-family: cursive;
}


p.intro {
  
}
